<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        
        <joint name="FR_hip_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">-5.6548668</param>
                <param name="max">5.6548668</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-15.0</param>
                <param name="max">15.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>     

        <joint name="FR_thigh_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">-5.6548668</param>
                <param name="max">5.6548668</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-15.0</param>
                <param name="max">15.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>     

        <joint name="FR_calf_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">-5.6548668</param>
                <param name="max">5.6548668</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-15.0</param>
                <param name="max">15.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>     

        <joint name="FL_hip_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">-5.6548668</param>
                <param name="max">5.6548668</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-15.0</param>
                <param name="max">15.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>     

        <joint name="FL_thigh_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">-5.6548668</param>
                <param name="max">5.6548668</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-15.0</param>
                <param name="max">15.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>     

        <joint name="FL_calf_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">-5.6548668</param>
                <param name="max">5.6548668</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-15.0</param>
                <param name="max">15.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>     

        <joint name="RR_hip_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">-5.6548668</param>
                <param name="max">5.6548668</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-15.0</param>
                <param name="max">15.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>     

        <joint name="RR_thigh_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">-5.6548668</param>
                <param name="max">5.6548668</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-15.0</param>
                <param name="max">15.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>     

        <joint name="RR_calf_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">-5.6548668</param>
                <param name="max">5.6548668</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-15.0</param>
                <param name="max">15.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>   

        <joint name="LR_hip_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">-5.6548668</param>
                <param name="max">5.6548668</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-15.0</param>
                <param name="max">15.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>     

        <joint name="LR_thigh_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">-5.6548668</param>
                <param name="max">5.6548668</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-15.0</param>
                <param name="max">15.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>     

        <joint name="LR_calf_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">-5.6548668</param>
                <param name="max">5.6548668</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-15.0</param>
                <param name="max">15.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>     


    </ros2_control>


    <!-- Gazebo's ros2_control plugin  -->
    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <robot_sim_type>gazebo_ros2_control/GazeboSystem</robot_sim_type>
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher_node</robot_param_node>
            <parameters>$(find go2_description)/config/jtc.yaml</parameters>
        </plugin>
    </gazebo>

</robot>